<nav class="navbar-custom" id="navbar-container">

  <div class="navbar-container">

    <a class="navbar-title" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>

    <div id="main-navbar">
      <ul class="nav navbar-link">
        {{ range .Site.Menus.main.ByWeight }}
        <li>
          <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="avatar-container">
      <div class="avatar-img-border">
        {{ if isset .Site.Params "logo" }}
          <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
            <img class="avatar-img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
          </a>
        {{ end }}
      </div>
    </div>

  </div>
</nav>
